@import "tailwindcss";

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  background: #000;
}

body {
  overscroll-behavior-x: none;
}


@font-face {
  font-family: "PPFragment";
  src: url("/fonts/PPFragment-SerifLight.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PlusJakarta";
  src: url("/fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Monocraft";
  src: url("/fonts/Monocraft.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Orbitron";
  src: url("/fonts/Orbitron-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
}


.plus-jakarta {
  font-family: "PlusJakarta", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.pp-fragment {
  font-family: "PPFragment", sans-serif;
}

.helvetica {
  font-family: "Helvetica", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

.monocraft {
  font-family: "Monocraft", monospace;
}

.tathva-heading {
  font-family: "Orbitron", sans-serif;
}

@tailwind utilities;
